{% extends 'adm/layout.html.twig' %}

{% block content %}

<div class="content-wrapper" id="vue-edit">

	<form class="edit-form" method="POST" action="{{ site_url('adm/consumption_services/save') }}">
	
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h4>{{ content_title }}</h4>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">Beranda</li>
						<li class="breadcrumb-item"><a href="#">Transaksi</a></li>
					</ol>
				</div>
			</div>
		</div>
	</section>

	<!-- Main content -->
	<section class="content">

		<div class="container-fluid">

			<div class="row">

				<div class="col-md-12">

					<div class="card card-default">
						
						<div class="card-body">
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<input type="hidden" class="form-control" name="id" id="id" value="{{ id }}">

										<label class="control-label">Nomor</label>
										<input type="text" class="form-control" name="number" tabindex="1"
											value="{{ autonumber }}" required="required" readonly="readonly" style="background-color:transparent">
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										<label>Tanggal</label>
										<input type="date" class="form-control" name="date" tabindex="2" value="{{ check_array_key(header_data, 'cs_header_date') }}" required="required">
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										<label>Nomor Kamar</label>
										<select class="form-control select2 room-select" name="trx" tabindex="3" required="required">
											<option value="0">- Bukan Tamu Menginap -</option>
											{% if checkin_data %}
											{% for checkin_row in checkin_data %}
											<option value="{{ checkin_row.id }}"
												{% if same(checkin_row.id, check_array_key(header_data, 'id')) %}
												selected="selected" {% endif %}>{{ checkin_row.room_number }} | {{ checkin_row.transaction_number }} ({{ checkin_row.guest_name }})</option>
											{% endfor %}
											{% endif %}
										</select>
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										<label>Atas Nama</label>
										<input type="hidden" id="on_behalf_id" class="form-control" name="on_behalf_id" tabindex="4" value="{{ check_array_key(header_data, 'cs_header_on_behalf_id') }}" required="required">
										<input type="text" id="on_behalf_name" class="form-control" name="on_behalf_name" tabindex="4" value="{{ check_array_key(header_data, 'cs_header_on_behalf_name') }}" required="required">
									</div>
								</div>

							</div>

						</div>
					</div>

				</div>

			</div>

			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<!-- <h3 class="card-title">List Material</h3> -->
								
								<button type="button" class="btn btn-primary" @click="detailAdd">
									Tambah Item
								</button>
											
								<button type="button" class="btn btn-danger" @click="detailDelete">
									Hapus Item
								</button>
						</div>

						<div class="card-body table-responsive p-0" style="max-height: 400px;">
							<table class="table table-head-fixed table-borderless text-nowrap" id="edit-table">
								<thead>
									<tr class="bg-light">
										<th align="left" class="fit-width">
											<input class="check-all" type="checkbox">
										</th>
										<th align="left" class="fit-width">Kode</th>
										<th align="left" class="fit-width">Produk/Layanan</th>
										<th align="left" class="fit-width">Harga</th>
										<th align="left" class="fit-width">Quantity</th>
										<th align="left" class="fit-width">Jumlah</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(row, detail_idx) in detailData">
										<td class="fit-width">
											<input class="check-sub" type="checkbox" v-bind:value="detail_idx">
										</td>
										<td class="fit-width">
											<% row.code %>
										</td>
										<td class="fit-width">
											<% row.name %>
										</td>
										{# <td class="fit-width bg-yellow" align="right" v-if="row.code != 'DLL'">
											<% row.price %>
										</td>
										<td class="fit-width bg-yellow" align="right" v-if="row.code == 'DLL'">
											<input type="text" class="form-control currency-mask" style="width:100%; text-align:right" v-model="row.price" @keyup="handlePrice(row, 'price', $event.target.value)">
										</td> #}
										<td class="fit-width bg-yellow" align="right">
											<input type="text" class="form-control currency-mask" style="width:100%; text-align:right" v-model="row.price" @keyup="handlePrice(row, 'price', $event.target.value)">
										</td>
										<td class="fit-width bg-yellow">
											<input type="text" class="form-control" style="width:100%; text-align:right" v-model="row.quantity" @keyup="handleCount(row)">
										</td>
										<td class="fit-width bg-yellow" align="right">
											<% row.total %>
										</td>
									</tr>
								</tbody>
								<tfoot v-if="detailData.length > 0">
									<tr class="bg-light">
										<td colspan="5" align="right" class="text-bold">Total</td>
										<td align="right" class="text-bold">
											<% countTotal() %>
											<input type="hidden" name="total" v-bind:value="countTotal()">
										</td>
									</tr>
								</tfoot	oot>
							</table>
						</div>
						<div class="card-footer">

							<div class="form-group">
								<label class="control-label">Keterangan</label>
								<textarea class="form-control" name="description" rows="6">{{ check_array_key(header_data, 'consumption_service_header_description') }}</textarea>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-md-12">

					<div class="card card-default col-md-2 float-right">
						
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<button type="submit" class="btn btn-success float-right" style="width: 100%;">
									Simpan
								</button>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		 	
		</div>

	</section>
	<!-- /.content -->

	</form>

</div>

<div class="modal fade edit-modal" id="modal-default">
	<div class="modal-dialog modal-lg">
		<div class="modal-content edit-modal-content">
			Loading...
		</div>
	</div>
</div>

{% endblock  %}

{% block add_javascript %}
{{ parent() }}


<script type="text/javascript" src="{{ assets_url('assets/js/app/consumption_services/edit.js?') }}"></script>

<script type="text/javascript">
	window.FORM_EDIT.handleVue();
	window.INPUT.handleSelect2();
</script>
{% endblock  %}